<div style="margin-top: 25%; ">
  <ion-searchbar style="--box-shadow:none;" [debounce]="1000" placeholder="Buscar..."
    (ionInput)="handleInput($event)"></ion-searchbar>
</div>

<div style="border-bottom: 1px solid #ccc;"></div>

<ion-content [scrollY]="true">

  <div class="ion-content-scroll-host ion-padding">
    <ion-list>
      <ion-item (click)="goToProfile(result._id)" *ngFor="let result of results()">

        <ion-avatar style="width: 40px; height: 40px;">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label style="margin-left: 20px;">{{ result.username }}</ion-label>
      </ion-item>
    </ion-list>

  </div>

</ion-content>