<ion-content [scrollY]="true">

  <div class="ion-content-scroll-host ion-padding" style="margin-top: 15%;">

    <form [formGroup]="form" (ngSubmit)="updateUser()">
      <div style="display: grid; gap: 30px;">
        <h1 style="display: flex; justify-content: center; align-items: center;">Perfil</h1>


        <ion-avatar style="width: 40px; height: 40px;">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>


        <div style="display: flex; align-items: center; gap: 10px;">
          <label style="color: black; font-weight: 800;" for="name">Nombre:</label>
          <input class="tweet-input" type="text" id="name" formControlName="fullname">
        </div>

        <div style="display: flex; align-items: center; gap: 10px;">
          <label style="color: black; font-weight: 800;" for="username">Usuario:</label>
          <input class="tweet-input" type="text" id="username" formControlName="username">
        </div>

        <div style="display: grid; gap: 10px;">
          <label style="color: black; font-weight: 800;" for="biografia">Biografia:</label>
          <textarea wrap="hard" class="tweet-area" id="biografia" cols="30" formControlName="biography"
            rows="10">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium explicabo sapiente minima mollitia illo optio aperiam, tenetur, nostrum, et exercitationem sit! Temporibus dolor reiciendis repellendus assumenda perspiciatis ex corporis distinctio.</textarea>
        </div>

      </div>
      <div style="display: grid; margin-top: 10px;">
        <button>Actualizar</button>
      </div>
    </form>

  </div>

</ion-content>